@color: #FFF;
@bgColor: #c94d4b;
@contentBgColor: #ffbe83;
@menuColor: #d7dee3;
@shortcutColor: color("#c94d4b");
body {
  background: @color;
  font-family: 'Open Sans';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pane-north,.pane-south {
  background: @bgColor;
}
.pane-center {
  background: @contentBgColor;
  position: relative;
}
#banner {
  height: 70px;
}
#menuNav {
  height: 45px;
}
#navigator {
  height: 70px;
}
#menuTab li {
  margin-right: 10px;
}
#startMenu {
  background-color: @menuColor;
  display: inline-block;
  cursor: pointer;
  width: 60px;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}
.menu a{
  margin:0 10px;
  width: 80px;
  background-color: @menuColor;
  border-color: @menuColor;
  border-radius: 0;
}
.menu {
  display: inline-block;
  bottom: 0;
  left: 70px;
  position: absolute
}
#menuBar {
  background: @menuColor;
  height: 25px;
}
#menuBar ul {
  padding: 0;
  margin: 0;
}
#menuBar li {
  float: left;
}
.shortcutPane {
  float: right;
  position: relative;
  left: -50%;
  top: 50%;
  text-align: left;
}
.shortcutPane ul{
  position: relative;
  left: 50%;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 100px;
  text-align: left;
}
.shortcutPane li{
  list-style: none;
  float: left;
  margin: 30px 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.shortcutPane li div {
  width: 120px;
  height: 120px;
  background-color: @shortcutColor;
}
.indicator_wrapper {
  width: 264px;
  height: 40px;
  display: inline-block;
  background: url("../images/sprite_main_png.png") no-repeat -140px -5px;
  margin-top: 30px;
  z-index: 2;
}
.indicator_wrapper a{
  cursor: hand;
}
.indicator_container {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.indicator {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  position: relative;
  margin: 4px 2px 0;
}
.indicator_icon {
  width: 100%;
  height: 100%;
  background: url("../images/sprite_main_png.png");
  display: inline-block;
}
.indicator_icon1 {
  background-position: -336px -132px;
}
.indicator_icon1:hover {
  background-position: -140px -132px;
}
.indicator_icon2 {
  background-position: -366px -132px;
}
.indicator_icon2:hover {
  background-position: -180px -132px;
}
.indicator_icon3 {
  background-position: -396px -132px;
}
.indicator_icon3:hover {
  background-position: -220px -132px;
}
.indicator_icon4 {
  background-position: -426px -132px;
}
.indicator_icon4:hover {
  background-position: -260px -132px;
}
.indicator_icon5 {
  background-position: -456px -132px;
}
.indicator_icon5:hover {
  background-position: -300px -132px;
}