<div class="chat-box" chat-box>
    <div class="chat-box-header">
        <div style="height: 40px">
            <div class="chat-box-photo"></div>
            <div class="chat-box-title">与<span class="chat-box-name">{{box.to.name}}</span>交谈中</div>
        </div>
        <div class="chat-box-toolbar">
            <ul>
                <li class="chat-box-file"></li>
                <li class="chat-box-offline"></li>
                <li class="chat-box-folder"></li>
                <li class="chat-box-remote"></li>
                <li class="chat-box-email"></li>
                <li class="chat-box-group"></li>
                <li class="chat-box-cam"></li>
            </ul>
        </div>
    </div>
    <div class="chat-box-body">
        <div class="chat-box-show" scroll-bar="scrollBarOptions">
            <div ng-repeat="msg in box.messages track by $index">
                <div style="color: blue">{{box.to.name}}  11:14:47</div>
                <div style="padding:0 10px">{{msg}}</div>
            </div>
        </div>
        <div class="chat-box-input">
            <div class="chat-box-input-toolbar">
                <ul>
                    <li class="chat-box-font-family">
                        <select>
                            <option>黑体</option>
                            <option>宋体</option>
                            <option>微软雅黑</option>
                        </select>
                        <select>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                        </select>
                    </li>
                    <li class="chat-box-input-icon chat-box-font-bold"></li>
                    <li class="chat-box-input-icon chat-box-font-italic"></li>
                    <li class="chat-box-input-icon chat-box-font-underline"></li>
                    <li class="chat-box-input-icon chat-box-font-color"></li>
                    <li class="chat-box-input-icon chat-box-emotion"></li>
                    <li class="chat-box-input-icon chat-box-shake"></li>
                    <li class="chat-box-input-icon chat-box-capture"></li>
                    <li class="chat-box-input-icon chat-box-history"></li>
                </ul>
            </div>
            <div class="chat-box-input-area">
                <textarea placeholder="请输入聊天信息..." ng-model="message"></textarea>
            </div>
        </div>
    </div>
    <div class="chat-box-bottom">
        <button ng-click="send()">发送(S)</button>
        <button ng-click="close(box)">关闭(C)</button>
    </div>
    <div id="chatEmotions">
        <ul>
            <li>
                <img src="images/chat/emotions/angry.png" title="生气" />
            </li>
            <li>
                <img src="images/chat/emotions/flushed.png" title="兴奋" />
            </li>
            <li>
                <img src="images/chat/emotions/laughing.png" title="大笑" />
            </li>
            <li>
                <img src="images/chat/emotions/neckbeard.png" title="大胡子" />
            </li>
            <li>
                <img src="images/chat/emotions/smile.png" title="微笑" />
            </li>
            <li>
                <img src="images/chat/emotions/sunglasses.png" title="耍酷" />
            </li>
        </ul>
    </div>
</div>