<div id="banner">
    <div class="logo"></div>
    <div class="my-calendar" calendar>
    </div>
</div>
<div id="navigator">
    <div id="menuNav" style="display: block;width: 100%;height: 45px;position: relative;">
        <div id="startMenu" data-dropdown="#dropdown-1"><i class="fa fa-home" style="font-size: 20px"></i>菜单</div>
        <div class="menu">
            <a type="button" class="btn btn-default {{menu.active?'active':''}}" ng-repeat="menu in menus" href="javascript:void(0)" ng-click="newTab(menu,false)"><marquee ng-if="menu.name.length>4" scrolldelay="400">{{ menu.name }}</marquee><span ng-if="menu.name.length<=4">{{ menu.name }}</span><span class="close-icon" ng-click="closeTab($event,menu)">×</span></a>
            <!--<a type="button" class="btn btn-default" ng-href="/OfficeAnywhere/#/Personal">个人事务</a>
            <a type="button" class="btn btn-default">个人事务</a>-->
        </div>
        <div style="position: absolute;right: 10px;display: inline-block;height: 100%;line-height: 45px;">
            <i class="fa fa-key" style="font-size: 20px;color: #ffffff;margin-right: 3px;cursor: pointer"></i>
            <span class="glyphicon glyphicon-cog" style="font-size: 20px;color: #ffffff;cursor: pointer"></span>
        </div>
    </div>
    <div id="menuBar">
        <ul style="list-style: none">
            <!--<li>已完成|</li>
            <li>已完成|</li>
            <li>已完成|</li>
            <li>已完成|</li>-->
        </ul>
    </div>
    <div class="menubar-shadow"></div>
</div>
<div class="left_pattern"></div>
<div class="right_pattern"></div>
<!--ng-init="dropdownMenus=[{name:'工作',url:'Task'},{name:'个人事务',url:'Personal'}]-->
<div id="dropdown-1" class="dropdown dropdown-tip">
    <div class="dropdown-panel">
        <div class="user-info">
            <div class="user-head"></div>
            <h4 style="display: inline-block">{{userInfo[0].name}}</h4>
        </div>
        <div class="menu-tree" tree></div>
        <!--<ul>
            <li ng-repeat="menu in dropdownMenus" ng-click="newTab(menu)">{{ menu.name }}</li>
        </ul>-->
    </div>
</div>