<div id="banner">
    <div class="logo"></div>
    <div class="my-calendar" calendar>
    </div>
</div>
<div id="navigator">
    <div id="menuNav" style="display: block;width: 100%;height: 45px;position: relative;">
        <div id="startMenu" data-dropdown="#dropdown-1"><i class="fa fa-home" style="font-size: 20px"></i>菜单</div>
        <div class="menu">
            <a type="button" class="btn btn-default {{menu.active?'active':''}}" ng-repeat="menu in menus" ng-href="" ng-click="newTab(menu,false)">{{ menu.name }}<span class="close-icon" title="关闭" ng-click="closeTab($event,menu)"></span></a>
        </div>
        <div style="position: absolute;right: 10px;display: inline-block;height: 20px;line-height: 20px;bottom: 10px;">
            <i class="fa fa-expand" style="font-size: 20px;color: #ffffff;margin-right: 3px;cursor: pointer" ng-click="toggleFullScreen()"></i>
            <i class="fa fa-refresh" style="font-size: 20px;color: #ffffff;margin-right: 3px;cursor: pointer"></i>
            <i class="fa fa-key" style="font-size: 20px;color: #ffffff;margin-right: 3px;cursor: pointer" ng-click="logout()"></i>
            <i class="fa fa-gear" style="font-size: 20px;color: #ffffff;margin-right: 3px;cursor: pointer"></i>
        </div>
    </div>
    <div id="menuBar">
        <ul style="list-style: none">
        </ul>
    </div>
    <div class="menubar-shadow"></div>
</div>
<div class="left_pattern"></div>
<div class="right_pattern"></div>
<div id="dropdown-1" class="dropdown dropdown-tip">
    <div class="dropdown-panel">
        <div class="user-info">
            <div class="user-head"></div>
            <h4 style="display: inline-block">{{userInfo[0].name}}</h4>
        </div>
        <div class="menu-tree" menu-tree></div>
    </div>
</div>