@charset "UTF-8";
html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#loading-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: #ffffff;
    text-align: center;
}
#loadingIndicator {
    position: absolute;
    width: 300px;
    height: 112px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -56px;
}
#loadingIndicator .loading-img{
    background: url('../../images/loading.gif');
    display: inline-block;
    width: 64px;
    height: 64px;
    background-size: 64px;
}